::ng-deep * {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Exo2";
  src: url("../assets/Exo2-Regular.otf") format("opentype");
}

.wholepage {
  width: 100vw;
  height: 100vh;
}

.ftgtitle {
  background-color: #000;
  color: #00ff11;
  font-size: 68px;
  font-family: "Exo2";
  text-align: center;
  letter-spacing: 1px;
}

.ftgtitle > span {
  text-shadow: 0px 0px #00ff11;
  animation: 5s linear 0s infinite shadoweffect;
}

/* make the glitchy text effect */
@keyframes shadoweffect {
  0% {
    text-shadow: -10px 2px #00ff11;
  }
  10% {
    text-shadow: 0px 0px #00ff11;
  }
  100% {
    text-shadow: 0px 0px #00ff11;
  }
}

canvas {
  width: 100vw;
  height: calc(100vh - 68px);
}
